section .item-thumb {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px; }
  section .item-thumb:hover .rotate-1 {
    transform: translate(50px, -8px) rotatez(26deg); }
  section .item-thumb:hover .rotate-2 {
    transform: translate(22px, -9px) rotatez(15deg); }
  section .item-thumb:hover .rotate-3 {
    transform: translate(-11px, -2px) rotatez(-7deg); }
  section .item-thumb img {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #888;
    transition: all .3s linear; }
  section .item-thumb .rotate-1 {
    top: 5px;
    left: 5px; }
  section .item-thumb .rotate-2 {
    top: 3px;
    left: 3px; }
  section .item-thumb .rotate-3 {
    top: 1px;
    left: 1px; }
